.navbar{
	z-index: 1000;
	border-radius: 0;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.centered {
  text-align: center;
}

.left:hover, .right:hover {
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 80px;
  background: #B4C6F7;
  border-top: 0px solid #000;
  position: absolute;
}

.bottom-footer {
  bottom: 0;
}