<div class="container">
  <flippy class="fancy" ng-click="flip()" flip-duration="800" timing-function="ease-in-out" ng-repeat="author in authors">
    <flippy-front>
      <img ng-src="{{author.image}}" class='.img-rounded img-responsive' />
    </flippy-front>

    <flippy-back>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="centered"> {{author.name}}</h4>
          <h4 class="centered"> {{author.phone}}</h4>
        </div>
      </div>
    </flippy-back>
  </flippy>
</div>