<div class='container'>
  <h1>Autores</h1>
  <br><br>
  <div class="row"> 
    <div class="col-xs-20"> 
      <div class="row-fluid">
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 rbook">
          <img src="http://i62.tinypic.com/314tu6t.jpg" width="180" height="265" class='thumbnail' />
          <h4> Alexander Taborda </h4>
          <h4> 3004348412 </h4>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 rbook">
          <img src="http://i60.tinypic.com/21nh9ih.jpg" width="180" height="265" class='thumbnail' />
          <h4> Fabian Betancur </h4>
          <h4> 3007249114 </h4>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 rbook">
          <img src="http://i62.tinypic.com/5y6fdi.jpg" width="180" height="265" class='thumbnail' />
          <h4> Daniel Blanco </h4>
          <h4> 3003392676 </h4>
        </div>
      </div> 
    </div> 
  </div>
</div>