<form name="contactForm" ng-submit="contactForm.$valid && addReview()" novalidate>

  <blockquote>
    <strong>{{ review.stars }} Stars</strong>
    {{ review.body }}
    <cite class="clearfix">by: {{ review.author }}</cite>
  </blockquote>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4>Submit a Review</h4>
        <fieldset class="form-group">
          <select ng-model="review.stars" required class="form-control ng-pristine ng-invalid" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
            <option value="">Rate the Product</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <textarea ng-model="review.body" required class="form-control ng-pristine ng-invalid" placeholder="Write a short review of the product..." title="Review"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <input ng-model="review.author" required type="email" class="form-control ng-pristine ng-invalid" placeholder="jimmyDean@example.org" title="Email" />
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
        </fieldset>
      </div>
    </div>
  </div>
</form>