<form name="contactForm" ng-submit="contactForm.$valid && addReview(review)" novalidate>

  <blockquote>
    {{ review.message }}
    <cite class="clearfix">by: {{ review.name }} - {{ review.email }}</cite>
  </blockquote>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4>Submit a Review</h4>
        <fieldset class="form-group">
          <input ng-model="review.name" required class="form-control ng-pristine ng-invalid" placeholder="Jimmy Dean" title="Name" />
        </fieldset>
        <fieldset class="form-group">
          <textarea ng-model="review.message" required class="form-control ng-pristine ng-invalid" placeholder="Write a short review of the product..." title="Review"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <input ng-model="review.email" required type="email" class="form-control ng-pristine ng-invalid" placeholder="jimmyDean@example.org" title="Email" />
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
        </fieldset>
      </div>
    </div>
  </div>
</form>